.section.list{
	list-style:none;
	margin:0;
	padding:0;	
	background:#14171a;
	z-index:10;
	position:relative;

	padding-top:25px;

	.song{
	position: relative;
	color: white;
	padding: 10px;
	margin: 0 10px;
	border-bottom: 1px solid #3e3f41;
		
		p{
			margin:0;
			font-size:15px;
		}
	
		.more-icon{
			position: absolute;
			top: 12px;
			right: 0px;
			display: block;
			font-size: 40px;
			padding: 14px 3px;
			border-radius: 60%;
			height: 28px;
			width: 30px;
			border: 1px solid #68696d;
		}

		.listens{
			font-size: 10px;
			letter-spacing: 1px;
			margin-top: 5px;
			color:#68696d;
		}

	}


}